.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.list.active {
	width: 0;
	padding: 0;
	border-width: 0px;
	transition: all 0.5s;
}
.list {
	border: 1px solid #000;
	padding: 0 20px 0 0;
	width: inherit;
	height: 215px;
	background-color: #fff;
	border: 2px solid #c5c5c5;
	border-left: 0px solid #c5c5c5;
	border-radius: 0px 0 5px 0;
	overflow-y: auto;
	transition: all 0.35s;
}
.list::-webkit-scrollbar {
	width: 0px;
}
.past {
	position: relative;
	width: fit-content;
}
.pastBtn {
	cursor: pointer;
	background-color: #c5c5c5;
	color: #fff;
	position: absolute;
	left: 100%;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 20px;
	border-radius: 0px 5px 5px 0;
}
.calculator {
	margin: 150px 0;
	width: fit-content;
	height: fit-content;
	border: 2px solid #c5c5c5;
	border-radius: 5px;
}
.padBox {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.keyPad {
	height: inherit;
	display: flex;
	flex-direction: column;
}
/* .keyPad div {
	width: 100%;
} */
.calcPad {
	height: inherit;
	display: flex;
	flex-direction: column;
}

.zero .g-btn {
	width: 100%;
	height: 100%;
}

.calculator .g-btn {
	min-width: 50px;
	height: 100%;
}
.calculator input {
	text-align: right;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.calculator input:disabled {
	background-color: #f7f7f7;
}
